.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: .8;
}

.table .theme--light.v-data-table thead tr:last-child th{
  background-color:#ffde26;
}

.table .theme--light.v-data-table thead tr th {
  font-size: 14px;
  line-height: 20px;
  color: #ffde26
}

.table .v-application .elevation-1 {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05) !important;
}

.table .v-application .primary--text{
  color: #C5870E !important;
  caret-color: #C5870E !important;
}

.w-full {
  width: 100%;
}

.text-bold {
  font-weight: bold;
}
