.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: .8;
}

.w-full {
  width: 100%;
}

.table {
  .v-application {
    .primary--text {
      color: #105ca9 !important;
      caret-color: #105ca9 !important;
    }
    .elevation-1 {
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05) !important;
    }
  }
  .theme--light.v-data-table {
    thead {
      tr {
        th {
          font-size: 14px;
          line-height: 20px;
          color: #2B81D6;
        }
      }
      tr:last-child {
        th {
          background-color: #2B81D6;
        }
      }
    }
  }
}
