.app-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.app-title-2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
}

.app-subtitle {
  font-weight: 500;
  font-size: 16px;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-weight: 500;
  font-size: 12px;
}

.text-green {
  color: #52ed50
}
